<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <title>Scan Overview</title>
  </head>
  <body>
    <span class="display-6 mx-2">Scan Overview</span>
    <a class="btn btn-primary mb-3 mx-3" href="{% url 'download-result' %}" download>Download Report</a>

    {% for elementlist in context %}
    <ul class="list-group" style="max-width: 500px">
        <a href="{% url 'result-view' %}?section={{ elementlist.0 }}" target="_blank">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ elementlist.0 }}
                <span class="badge bg-primary rounded-pill">{{ elementlist|length|add:"-1" }}</span>
            </li>
        </a>
    </ul>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>






































